/*Google fronts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {padding: 0;
margin:0;
box-sizing: border-box;}

/*General styles*/
body { 
    min-height: 100vh;
    display:flex;
    flex-direction: column;
/*Generic project styles*/
color: #3a3a3a;
font-family: "lato",sans-serif;
}

h1,h2,h3 {font-family: "Oswald", sans-serif;;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {background-color: #ffffff;
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 2px 2px #383838; 
display: flex;
justify-content: space-between;
align-items: baseline;
}
    
header a{text-decoration: none;
color: inherit;}

#menu{
    font-size: 110%;
    list-style-type: none;
letter-spacing: 4px;}

#menu> li {margin-bottom: 1em;}

.active {border-bottom: 1px solid #3a3a3a;}

/*Nav bar style with drop down toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    padding: 0 1rem;
box-shadow: 0 2px 2px #383838; 
display: none;
top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav{ display:block;}

#nav-toggle { display: none;}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main content*/
main {
    display:flex;
    /*Make main element take up any suplus space to push footter dow*/
    /*<flex-grow> <flex-shrink> <flex-basis>*/
    flex:1 0 auto;
    margin-top: 50px;
}

/*hero section*/
#hero {
height: 800px;
width: 100%;
background:url(../images/hero-image.webp) no-repeat center center/cover;
position: relative;
}

#cover-text {
    /*Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(241, 109, 107, .7);
font-size: 130%;
position: absolute;
bottom: 30px;
width: 80%;
height: 200px;
padding: 40px 0 0 10px;
} 

#cover-text > h2 , #cover-text > h3 {color: #ffffff;}

/*Footer*/
footer {background-color: #ffffff;
border-top: 2px solid #252525;} 

#social-media-logo{
  display: flex;           /* makes the list horizontal */
  justify-content: space-evenly; /* centers them horizontally */
  align-items: center;     /* aligns vertically in line */
  list-style: none;        /* removes bullet points */
  padding: 20px 0;
}

footer > ul > li > a {font-size: 160%;
padding: 5%; 
color: #3a3a3a;}

/*Media query:tablets and larger (768px and up)*/
@media screen and (min-width: 768px){
    nav{display: block; 
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;}

    #menu{ display: flex;}

    #menu>li {padding-left: 1rem;}
    
    .nav-toggle-label{display: none;}


    #logo { font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
    }

    /*Main content*/
    main { 
        /*Push the main content down to accommodate larger header */
        margin-top: 79px;}
}

/* Cover text*/
#cover-text { width: 300px;
right: 50px;
}

/* Media query: small laptop screen (992px)*/
@media screen and (min-width:992px) {
    #menu a:hover {border-bottom: 1px solid #3a3a3a;}
}